extends scripted

block message
	div.input-group
		span.input-group-addon
			| School closed on
		input.form-control(type='text' placeholder='Date')
		span.input-group-addon
			| due to
		input.form-control(type='text' placeholder='Reason')
		span.input-group-addon
			|.
	div.input-group
		span.input-group-addon
			| School will reopen the next day unless further notified.
		input.form-control(type='text' placeholder='Further instructions or messages')
