extends scripted

block message
	div.input-group
		span.input-group-addon
			| School has been delayed due to 
		input.form-control(type='text' placeholder='Reason')
		span.input-group-addon
			|and will open at
		input.form-control(type='text' placeholder='Time')
		span.input-group-addon
			|.
	div.input-group
		input.form-control(type='text' placeholder='Further instructions or messages')
		span.input-group-addon
			|.