extends layout

block content
	div#header
		h1 TITLE YAYAYYAY

	ul.nav.nav-tabs
		li(role='presentation')
			a(href='/scripted') Scripted
		li.active(role='presentation')
			a(href='#') Unscripted

	div#container.container
		div.row
			div#left.col-md-2
				div.button-title Category
				form.radio
					p
						label
							input(type='radio' name='category')
							| Emergency
					p
						label
							input(type='radio' name='category')
							| Daily 
					p
						label
							input(type='radio' name='category')
							| Faculty
					p
						label
							input(type='radio' name='category')
							| Other

				div.button-title Priority
				form.radio
					p
						label
							input(type='radio' name='priority')
							| High
					p
						label
							input(type='radio' name='priority')
							| Medium 
					p
						label
							input(type='radio' name='priority')
							| Low

			div#middle.col-md-10
				div#text
					textarea#message.form-control(placeholder='Enter text here...')
					div#submit-button
						input.btn.btn-default(type="submit" value="Send")




			//- #right.col-md-3
				h2 Archives
				ul#archives.list-group
					li.list-group-item Emergency
					li.list-group-item Daily
					li.list-group-item Faculty
					li.list-group-item Other