extends layout

block content
	div#header
		h1 Welcome to Our App
		h2 Massachusetts Institute of Technology
  
	a.btn.btn-primary(href='subscribe') Subscribe 
	a.btn.btn-primary(href='login') For Admins