extends layout

block content
	div#header
		h1 TITLE YAYAYYAY

	ul.nav.nav-tabs
		li.active(role='presentation')
			a(href='#') Scripted
		li
			a(href='/home') Unscripted

	script(type="text/javascript").
		function change_category(category) {
			if (category == 'Emergency') {
				window.location = '/scripted';
			} else if (category == 'Closings') {
				window.location = '/closing';
			} else if (category == 'Delays') {
				window.location = '/delay';
			}
		}

		window.onload = function() {
			var form = document.getElementById('scripted-category').category;
			var prev = null;
			for (var i = 0; i < form.length; i++) {
				form[i].onclick = function() {
					if (this !== prev) {
						prev = this;
						change_category(prev.nextSibling.data);
					}
				}
				var category = prev.nextSibling.data;
				if (category == 'Emergency') {
					this.setAttribute('checked', 'checked');
				} else if (category == 'Closings') {
					this.setAttribute('checked', 'checked');
				} else if (category == 'Delays') {
					this.setAttribute('checked', 'checked');
				}

			}
		}

	div#container.container
		div.row
			div#left.col-md-2
				div.button-title Category
				form#scripted-category.radio
					p
						label
							input(type='radio' name='category')
							| Emergency
					p
						label
							input(type='radio' name='category')
							| Closings
					p
						label
							input(type='radio' name='category')
							| Delays

			div#middle.col-md-10
				div#text.input-group
					block message

					div#submit-button
						input.btn.btn-default(type="submit" value="Send")