body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container.row {
	height: 1200px;
}

.container {
	/*background-color: #B2B2B2;*/
}

#left, #middle, #right {
	padding: 30px;
}

#left {
}

#middle {
}

#right {
}

.radio p {
	padding: 5px;
	margin: 0px;
}

label.input-group-addon {
	display: block;
}

textarea.form-control {
	height: 600px;
	resize: none;
}

#text {
	border: 1px black dashed;
	padding: 10px;
	width: 750px;
}

#submit-button {
	padding-top: 10px;
	overflow: hidden
}

#submit-button input {
	float: right;
	margin-top: 10px;
}


.button-title {
	font-size: 20px;
	padding: 10px 0px 0px;	
}

#message input {
	margin: 0px 5px;
}

.hidden {
	display: none;
}
