body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container.row {
	height: 1200px;
}

#left {
	background-color: red;
}

#middle {
	background-color: green;
}

#right {
	background-color: blue;
}

textarea.form-control {
	height: 600px;
}